body {
    background: #263238;
}

#app {
    font-family: 'Avenir', Helvetica, Arial. sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #FFF;
    text-align: center;
    margin-top:60px;
}

.character-card {
    border: 2px solid #4FC08D;
    border-radius: 5px;
    cursor: pointer;
}

.link {
    color: #4FC08D;
}

.item-card {
    border: 2px solid #4FC08D;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 5px 10px 5px;
}